Source: rtpaudio
Section: net
Priority: optional
Maintainer: Thomas Dreibholz <dreibh@iem.uni-due.de>
Homepage: https://www.uni-due.de/~be0001/rtpaudio/
Build-Depends: cmake (>= 3.0.2) | cmake3,
               debhelper (>= 9),
               libfile-fcntllock-perl,
               libpulse-dev,
               libsctp-dev (>= 1.0.5),
               qtbase5-dev,
               qtbase5-dev-tools,
               qtchooser
Standards-Version: 4.4.0.1
Vcs-Git: https://github.com/dreibh/rtpaudio.git
Vcs-Browser: https://github.com/dreibh/rtpaudio

Package: libmpegsound2
Section: libs
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends}
Description: Sound decoder library
 libmpegsound decodes a couple of sound formats (e.g. MP3) and
 returns a raw data stream.
 .
 The library is provided by this package.

Package: libmpegsound-dev
Section: libdevel
Architecture: any
Depends: libmpegsound2 (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends}
Description: Development files for the sound decoder library
 libmpegsound decodes a couple of sound formats (e.g. MP3, OGG) and
 returns a raw data stream.
 .
 This package provides the development files for the libmpegsound library.

Package: libtdtoolbox2
Section: libs
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends}
Description: Shared library for RTP Audio (common helper functions)
 The RTP Audio system is a network sound streaming system. It has been
 designed for QoS performance analysis and teaching purposes.
 .
 This package provides a shared library for common helper functions.

Package: libtdtoolbox-dev
Section: libdevel
Architecture: any
Depends: libtdtoolbox2 (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends}
Description: Development files for RTP Audio (common helper functions)
 The RTP Audio system is a network sound streaming system. It has been
 designed for QoS performance analysis and teaching purposes.
 .
 This package provides the development files for common helper functions.

Package: libmediainfo2
Section: libs
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends}
Description: Shared library for RTP Audio (media information handling)
 The RTP Audio system is a network sound streaming system. It has been
 designed for QoS performance analysis and teaching purposes.
 .
 This package provides a shared library for media information handling.

Package: libmediainfo-dev
Section: libdevel
Architecture: any
Depends: libmediainfo2 (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends}
Description: Development files for RTP Audio (media information handling)
 The RTP Audio system is a network sound streaming system. It has been
 designed for QoS performance analysis and teaching purposes.
 .
 This package provides the development files for media information handling.

Package: libaudiocommon2
Section: libs
Architecture: any
Depends: libtdtoolbox2 (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends}
Description: Shared library for RTP Audio (common audio data handling)
 The RTP Audio system is a network sound streaming system. It has been
 designed for QoS performance analysis and teaching purposes.
 .
 This package provides a shared library for common audio data handling.

Package: libaudiocommon-dev
Section: libdevel
Architecture: any
Depends: libaudiocommon2 (= ${binary:Version}),
         libtdtoolbox-dev (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends}
Description: Development files for RTP Audio (common audio data handling)
 The RTP Audio system is a network sound streaming system. It has been
 designed for QoS performance analysis and teaching purposes.
 .
 This package provides the development files for common audio data handling.

Package: libaudioreader2
Section: libs
Architecture: any
Depends: libaudiocommon2 (= ${binary:Version}),
         libmediainfo2 (= ${binary:Version}),
         libmpegsound2 (= ${binary:Version}),
         libtdtoolbox2 (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends}
Description: Shared library for RTP Audio (audio input reading)
 The RTP Audio system is a network sound streaming system. It has been
 designed for QoS performance analysis and teaching purposes.
 .
 This package provides a shared library for audio input reading.

Package: libaudioreader-dev
Section: libdevel
Architecture: any
Depends: libaudiocommon-dev (= ${binary:Version}),
         libaudioreader2 (= ${binary:Version}),
         libmediainfo-dev (= ${binary:Version}),
         libmpegsound-dev (= ${binary:Version}),
         libtdtoolbox-dev (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends}
Description: Development files for RTP Audio (audio input reading)
 The RTP Audio system is a network sound streaming system. It has been
 designed for QoS performance analysis and teaching purposes.
 .
 This package provides the development files for audio input reading.

Package: libaudiowriter2
Section: libs
Architecture: any
Depends: libaudiocommon2 (= ${binary:Version}),
         libpulse0,
         libtdtoolbox2 (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends}
Description: Shared library for RTP Audio (audio output writing)
 The RTP Audio system is a network sound streaming system. It has been
 designed for QoS performance analysis and teaching purposes.
 .
 This package provides a shared library for audio output writing.

Package: libaudiowriter-dev
Section: libdevel
Architecture: any
Depends: libaudiocommon-dev (= ${binary:Version}),
         libaudiowriter2 (= ${binary:Version}),
         libpulse-dev,
         libtdtoolbox-dev (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends}
Description: Development files for RTP Audio (audio output writing)
 The RTP Audio system is a network sound streaming system. It has been
 designed for QoS performance analysis and teaching purposes.
 .
 This package provides the development files for audio output writing.

Package: libaudiocodeccommon2
Section: libs
Architecture: any
Depends: libaudiocommon2 (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends}
Description: Shared library for RTP Audio (common audio codec handling)
 The RTP Audio system is a network sound streaming system. It has been
 designed for QoS performance analysis and teaching purposes.
 .
 This package provides a shared library for common audio codec handling.

Package: libaudiocodeccommon-dev
Section: libdevel
Architecture: any
Depends: libaudiocodeccommon2 (= ${binary:Version}),
         libaudiocommon-dev (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends}
Description: Development files for RTP Audio (common audio codec handling)
 The RTP Audio system is a network sound streaming system. It has been
 designed for QoS performance analysis and teaching purposes.
 .
 This package provides the development files for common audio codec handling.

Package: libaudioencoder2
Section: libs
Architecture: any
Depends: libaudiocodeccommon2 (= ${binary:Version}),
         libaudiocommon2 (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends}
Description: Shared library for RTP Audio (audio encoding)
 The RTP Audio system is a network sound streaming system. It has been
 designed for QoS performance analysis and teaching purposes.
 .
 This package provides a shared library for audio encoding.

Package: libaudioencoder-dev
Section: libdevel
Architecture: any
Depends: libaudiocodeccommon-dev (= ${binary:Version}),
         libaudiocommon-dev (= ${binary:Version}),
         libaudioencoder2 (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends}
Description: Development files for RTP Audio (audio encoding)
 The RTP Audio system is a network sound streaming system. It has been
 designed for QoS performance analysis and teaching purposes.
 .
 This package provides the development files for audio encoding.

Package: libaudiodecoder2
Section: libs
Architecture: any
Depends: libaudiocodeccommon2 (= ${binary:Version}),
         libaudiocommon2 (= ${binary:Version}),
         libmediainfo2 (= ${binary:Version}),
         libtdtoolbox2 (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends}
Description: Shared library for RTP Audio (audio decoding)
 The RTP Audio system is a network sound streaming system. It has been
 designed for QoS performance analysis and teaching purposes.
 .
 This package provides a shared library for audio decoding.

Package: libaudiodecoder-dev
Section: libdevel
Architecture: any
Depends: libaudiocodeccommon-dev (= ${binary:Version}),
         libaudiocommon-dev (= ${binary:Version}),
         libaudiodecoder2 (= ${binary:Version}),
         libmediainfo-dev (= ${binary:Version}),
         libtdtoolbox-dev (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends}
Description: Development files for RTP Audio (audio decoding)
 The RTP Audio system is a network sound streaming system. It has been
 designed for QoS performance analysis and teaching purposes.
 .
 This package provides the development files for audio decoding.

Package: librtpaudiocommon2
Section: libs
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends}
Description: Shared library for RTP Audio (common RTP audio handling)
 The RTP Audio system is a network sound streaming system. It has been
 designed for QoS performance analysis and teaching purposes.
 .
 This package provides a shared library for common RTP audio handling.

Package: librtpaudiocommon-dev
Section: libdevel
Architecture: any
Depends: librtpaudiocommon2 (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends}
Description: Development files for RTP Audio (common RTP audio handling)
 The RTP Audio system is a network sound streaming system. It has been
 designed for QoS performance analysis and teaching purposes.
 .
 This package provides the development files for common RTP audio handling.

Package: librtpaudioclient2
Section: libs
Architecture: any
Depends: libaudiocommon2 (= ${binary:Version}),
         libaudiodecoder2 (= ${binary:Version}),
         libmediainfo2 (= ${binary:Version}),
         librtpaudiocommon2 (= ${binary:Version}),
         librtpclient2 (= ${binary:Version}),
         libtdtoolbox2 (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends}
Description: Shared library for RTP Audio (RTP client-side audio handling)
 The RTP Audio system is a network sound streaming system. It has been
 designed for QoS performance analysis and teaching purposes.
 .
 This package provides a shared library for RTP client-side audio handling.

Package: librtpaudioclient-dev
Section: libdevel
Architecture: any
Depends: libaudiocommon-dev (= ${binary:Version}),
         libaudiodecoder-dev (= ${binary:Version}),
         libmediainfo-dev (= ${binary:Version}),
         librtpaudioclient2 (= ${binary:Version}),
         librtpaudiocommon-dev (= ${binary:Version}),
         librtpclient-dev (= ${binary:Version}),
         libtdtoolbox-dev (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends}
Description: Development files for RTP Audio (RTP client-side audio handling)
 The RTP Audio system is a network sound streaming system. It has been
 designed for QoS performance analysis and teaching purposes.
 .
 This package provides the development files for RTP client-side audio handling.

Package: librtpaudioserver2
Section: libs
Architecture: any
Depends: libaudioencoder2 (= ${binary:Version}),
         libaudioreader2 (= ${binary:Version}),
         librtpaudiocommon2 (= ${binary:Version}),
         librtpserver2 (= ${binary:Version}),
         libtdtoolbox2 (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends}
Description: Shared library for RTP Audio (RTP server-side audio handling)
 The RTP Audio system is a network sound streaming system. It has been
 designed for QoS performance analysis and teaching purposes.
 .
 This package provides a shared library for RTP server-side audio handling.

Package: librtpaudioserver-dev
Section: libdevel
Architecture: any
Depends: libaudioencoder-dev (= ${binary:Version}),
         libaudioreader-dev (= ${binary:Version}),
         librtpaudiocommon-dev (= ${binary:Version}),
         librtpaudioserver2 (= ${binary:Version}),
         librtpserver-dev (= ${binary:Version}),
         libtdtoolbox-dev (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends}
Description: Development files for RTP Audio (RTP server-side audio handling)
 The RTP Audio system is a network sound streaming system. It has been
 designed for QoS performance analysis and teaching purposes.
 .
 This package provides the development files for RTP server-side audio handling.

Package: librtpcommon2
Section: libs
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends}
Description: Shared library for RTP Audio (common RTP handling)
 The RTP Audio system is a network sound streaming system. It has been
 designed for QoS performance analysis and teaching purposes.
 .
 This package provides a shared library for common RTP handling.

Package: librtpcommon-dev
Section: libdevel
Architecture: any
Depends: librtpcommon2 (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends}
Description: Development files for RTP Audio (common RTP handling)
 The RTP Audio system is a network sound streaming system. It has been
 designed for QoS performance analysis and teaching purposes.
 .
 This package provides the development files for common RTP handling.

Package: librtpclient2
Section: libs
Architecture: any
Depends: librtpcommon2 (= ${binary:Version}),
         libtdtoolbox2 (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends}
Description: Shared library for RTP Audio (RTP client-side handling)
 The RTP Audio system is a network sound streaming system. It has been
 designed for QoS performance analysis and teaching purposes.
 .
 This package provides a shared library for RTP client-side handling.

Package: librtpclient-dev
Section: libdevel
Architecture: any
Depends: librtpclient2 (= ${binary:Version}),
         librtpcommon-dev (= ${binary:Version}),
         libtdtoolbox-dev (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends}
Description: Development files for RTP Audio (RTP client-side handling)
 The RTP Audio system is a network sound streaming system. It has been
 designed for QoS performance analysis and teaching purposes.
 .
 This package provides the development files for RTP client-side handling.

Package: librtpserver2
Section: libs
Architecture: any
Depends: librtpcommon2 (= ${binary:Version}),
         libtdtoolbox2 (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends}
Description: Shared library for RTP Audio (RTP server-side handling)
 The RTP Audio system is a network sound streaming system. It has been
 designed for QoS performance analysis and teaching purposes.
 .
 This package provides a shared library for RTP server-side handling.

Package: librtpserver-dev
Section: libdevel
Architecture: any
Depends: librtpcommon-dev (= ${binary:Version}),
         librtpserver2 (= ${binary:Version}),
         libtdtoolbox-dev (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends}
Description: Development files for RTP Audio (RTP server-side handling)
 The RTP Audio system is a network sound streaming system. It has been
 designed for QoS performance analysis and teaching purposes.
 .
 This package provides the development files for RTP server-side handling.

Package: libqosmgr2
Section: libs
Architecture: any
Depends: librtpserver2 (= ${binary:Version}),
         libtdtoolbox2 (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends}
Description: Shared library for RTP Audio (QoS management)
 The RTP Audio system is a network sound streaming system. It has been
 designed for QoS performance analysis and teaching purposes.
 .
 This package provides a shared library for the QoS manager.

Package: libqosmgr-dev
Section: libdevel
Architecture: any
Depends: libqosmgr2 (= ${binary:Version}),
         librtpserver-dev (= ${binary:Version}),
         libtdtoolbox-dev (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends}
Description: Development files for RTP Audio (QoS management)
 The RTP Audio system is a network sound streaming system. It has been
 designed for QoS performance analysis and teaching purposes.
 .
 This package provides the development files for QoS management.

Package: rtpaudio-clients
Architecture: any
Depends: libaudiocommon2 (= ${binary:Version}),
         libaudiodecoder2 (= ${binary:Version}),
         libaudiowriter2 (= ${binary:Version}),
         librtpaudioclient2 (= ${binary:Version}),
         libtdtoolbox2 (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends}
Recommends: iputils-ping,
            iputils-tracepath,
            netperfmeter,
            rsplib-tools,
            subnetcalc,
            traceroute
Description: RTP Audio clients
 The RTP Audio system is a network sound streaming system. It has been
 designed for QoS performance analysis and teaching purposes.
 RTP Audio supports IPv4 and IPv6 including flowlabels and traffic
 classes, QoS management as well as transport via UDP and SCTP.
 .
 This package provides the RTP Audio clients.

Package: rtpaudio-server
Architecture: any
Depends: libqosmgr2 (= ${binary:Version}),
         librtpaudioserver2 (= ${binary:Version}),
         librtpserver2 (= ${binary:Version}),
         libtdtoolbox2 (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends}
Recommends: iputils-ping,
            iputils-tracepath,
            netperfmeter,
            rsplib-tools,
            subnetcalc,
            traceroute
Description: RTP Audio server
 The RTP Audio system is a network sound streaming system. It has been
 designed for QoS performance analysis and teaching purposes.
 RTP Audio supports IPv4 and IPv6 including flowlabels and traffic
 classes, QoS management as well as transport via UDP and SCTP.
 .
 This package provides the RTP Audio server.

Package: rtpaudio-all
Architecture: all
Depends: rtpaudio-clients (= ${binary:Version}),
         rtpaudio-server (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends}
Description: RTP Audio sound streaming system
 The RTP Audio system is a network sound streaming system. It has been
 designed for QoS performance analysis and teaching purposes.
 RTP Audio supports IPv4 and IPv6 including flowlabels and traffic
 classes, QoS management as well as transport via UDP and SCTP.
