Source: rtpaudio
Section: net
Priority: optional
Maintainer: Thomas Dreibholz <dreibh@iem.uni-due.de>
Homepage: http://www.iem.uni-due.de/~dreibh/rtpaudio/
Build-Depends: autotools-dev,
               debhelper (>= 7.0.50~),
               libpulse-dev,
               libqt4-dev,
               libsctp-dev (>= 1.0.5)
Standards-Version: 3.9.3

Package: libmpegsound0
Section: libs
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends}
Description: Sound decoder library
 libmpegsound decodes a couple of sound formats (e.g. MP3) and
 returns a raw data stream.
 .
 The library is provided by this package.

Package: libmpegsound-dev
Section: libdevel
Architecture: any
Depends: libmpegsound0 (= ${binary:Version}),
         ${misc:Depends}
Description: Headers for the sound decoder library
 libmpegsound decodes a couple of sound formats (e.g. MP3, OGG) and
 returns a raw data stream.
 .
 This package provides header files for the libmpegsound library.

Package: libaudiocodeccommon0
Section: libs
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends}
Description: Shared libraries for RTP Audio (common audio codec handling)
 The RTP Audio system is a network sound streaming systen. It has been
 designed for QoS performance analysis and teaching purposes.
 .
 This package provides shared libraries for common audio codec handling.

Package: libaudiocommon0
Section: libs
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends}
Description: Shared libraries for RTP Audio (common audio data handling)
 The RTP Audio system is a network sound streaming systen. It has been
 designed for QoS performance analysis and teaching purposes.
 .
 This package provides shared libraries for common audio data handling.

Package: libmediainfo0
Section: libs
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends}
Description: Shared libraries for RTP Audio (media information handling)
 The RTP Audio system is a network sound streaming systen. It has been
 designed for QoS performance analysis and teaching purposes.
 .
 This package provides shared libraries for media information handling.

Package: libaudioreader0
Section: libs
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends}
Description: Shared libraries for RTP Audio (audio input reading)
 The RTP Audio system is a network sound streaming systen. It has been
 designed for QoS performance analysis and teaching purposes.
 .
 This package provides shared libraries for audio input reading.

Package: libaudiowriter0
Section: libs
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends}
Description: Shared libraries for RTP Audio (audio output writing)
 The RTP Audio system is a network sound streaming systen. It has been
 designed for QoS performance analysis and teaching purposes.
 .
 This package provides shared libraries for audio output writing.

Package: libaudioencoder0
Section: libs
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends}
Description: Shared libraries for RTP Audio (audio encoding)
 The RTP Audio system is a network sound streaming systen. It has been
 designed for QoS performance analysis and teaching purposes.
 .
 This package provides shared libraries for audio encoding.

Package: libaudiodecoder0
Section: libs
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends}
Description: Shared libraries for RTP Audio (audio decoding)
 The RTP Audio system is a network sound streaming systen. It has been
 designed for QoS performance analysis and teaching purposes.
 .
 This package provides shared libraries for audio decoding.

Package: librtpaudiocommon0
Section: libs
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends}
Description: Shared libraries of the RTP Audio sound streaming system
 The RTP Audio system is a network sound streaming systen. It has been
 designed for QoS performance analysis and teaching purposes.
 .
 This package provides shared libraries for common RTP audio handling.

Package: librtpaudioclient0
Section: libs
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends}
Description: Shared libraries for RTP Audio (RTP client-side audio handling)
 The RTP Audio system is a network sound streaming systen. It has been
 designed for QoS performance analysis and teaching purposes.
 .
 This package provides shared libraries for RTP client-side audio handling.

Package: librtpaudioserver0
Section: libs
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends}
Description: Shared libraries for RTP Audio (RTP server-side audio handling)
 The RTP Audio system is a network sound streaming systen. It has been
 designed for QoS performance analysis and teaching purposes.
 .
 This package provides shared libraries for RTP server-side audio handling.

Package: librtpcommon0
Section: libs
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends}
Description: Shared libraries for RTP Audio (common RTP handling)
 The RTP Audio system is a network sound streaming systen. It has been
 designed for QoS performance analysis and teaching purposes.
 .
 This package provides shared libraries for common RTP handling.

Package: librtpclient0
Section: libs
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends}
Description: Shared libraries for RTP Audio (RTP client-side handling)
 The RTP Audio system is a network sound streaming systen. It has been
 designed for QoS performance analysis and teaching purposes.
 .
 This package provides shared libraries for RTP client-side handling.

Package: librtpserver0
Section: libs
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends}
Description: Shared libraries for RTP Audio (RTP server-side handling)
 The RTP Audio system is a network sound streaming systen. It has been
 designed for QoS performance analysis and teaching purposes.
 .
 This package provides shared libraries for RTP server-side handling.

Package: libtdtoolbox0
Section: libs
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends}
Description: Shared libraries for RTP Audio (common helper functions)
 The RTP Audio system is a network sound streaming systen. It has been
 designed for QoS performance analysis and teaching purposes.
 .
 This package provides shared libraries for common helper functions.

Package: libqosmgr0
Section: libs
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends}
Description: Shared libraries for RTP Audio (QoS management)
 The RTP Audio system is a network sound streaming systen. It has been
 designed for QoS performance analysis and teaching purposes.
 .
 This package provides shared libraries for the QoS manager.

Package: rtpaudio
Architecture: any
Depends: libaudiocodeccommon0,
         libaudiocommon0,
         libaudiodecoder0,
         libaudioencoder0,
         libaudioreader0,
         libaudiowriter0,
         libmediainfo0,
         libmpegsound0,
         libqosmgr0,
         librtpaudioclient0,
         librtpaudiocommon0,
         librtpaudioserver0,
         librtpclient0,
         librtpcommon0,
         librtpserver0,
         libtdtoolbox0,
         ${misc:Depends},
         ${shlibs:Depends}
Recommends: iputils-ping,
            iputils-tracepath,
            rsplib-tools,
            subnetcalc,
            traceroute
Description: RTP Audio sound streaming system
 The RTP Audio system is a network sound streaming systen. It has been
 designed for QoS performance analysis and teaching purposes.
 RTP Audio supports IPv4 and IPv6 including flowlabels and traffic
 classes, QoS management as well as transport via UDP and SCTP.
