Source: rtpaudio
Section: net
Priority: optional
Maintainer: Thomas Dreibholz <dreibh@iem.uni-due.de>
Homepage: http://www.iem.uni-due.de/~dreibh/rn/
Build-Depends: autotools-dev,
               debhelper (>= 7.0.50~),
               libsctp-dev (>= 1.0.5),
               libqt4-dev
Standards-Version: 3.9.2

Package: rtpaudio-server
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends}
Recommends: iputils-ping,
            iputils-tracepath,
            rsplib-tools,
            subnetcalc,
            pulseaudio-utils,
            traceroute
Description: RTP Audio sound streaming system
 The RTP Audio system consists of a server and several clients, which are
 served with audio data from the server. The transmission is realized using
 the RTP protocol (Real-Time Protocol, see RFC 1889) based on UDP. RTP Audio
 supports IPv4 and IPv6 including flowlabels and traffic classes.
