# These are the default settings for the RTP Audio server.
# All settings will be overwritten by corresponding command line option!



# ###### General server options #############################################

# Set directory to directory of audio lists
Directory = .

# The server's port number (default: 7500).
Port = 7500

# The server's timeout in seconds (default: 10).
Timeout = 12



# ###### Transport options ##################################################

# Set maximum packet size
# Default 1500 is recommended to avoid ethernet fragmentation and
# inefficient usage due do packet headers.
Max Packet Size  = 1500

# Set Force IPv4 to 1 to disable all IPv6 support, if kernel supports IPv6.
# Default is 0.
Force IPv4 = 0



# ###### QoS/DiffServ options ###############################################

# Enable/Disable QoS manager.
QoS Manager = 0

# Enable/Disable loss scalability.
Loss Scalability = 0
